body {
  width: 100%;
  font-family: fantasy;
  background-image: linear-gradient(180deg,rgba(120, 70, 150, 0.8),rgba(136, 136, 206,0.2)),
    url(https://drscdn.500px.org/photo/219181993/m%3D1170/v2?webp=true&sig=04d86014f0406800348b4ef93ab883c7ffd1864001b8ee3df93bf670caa554a2);
	background-size: 100%;
	background-repeat: repeat-y;
}
  
h1,p {
  text-align: center;
  color:white;
  font-family: courier;
}
  
form {
  background-color:rgba(140,149,237,90%);
  padding:10px;
  text-align:center;
  max-width: 500px;
	min-width: 300px;
  margin: 0 auto;

}

label {
  display:block;
  margin:5px 0 0 0;

}
  
.input-text {
  width:300;
  display:block;
}
  
#kiss, #enquete {
  text-align: center;
  color:#800099;  
  font-size: 20px;
  padding:20px 0 0 0
}
  
.input-rate,.input-improvement {
  display:inline-block;
}

input, select, option, textarea {
  font-family:courier;
  margin: 10px 0 0 0;
  align-items: center;
}

.input-textarea {
  width: 100%;
  max-width: 310px;
	min-width: 200px;
}

div {
  padding:20px 0 10px 0 
}
  
#submit {
  font-family:fantasy;
}

