h1,p {
  text-align: center;
  color: white;
  }
body{
  background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-position: center;
}
